.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
  margin-bottom: 300px;

  @media (max-width: 480px) {
    gap: 60vw;
  }

  @media (max-width: 1439px) {
    gap: 80vw;
  }

  @media (min-width: 1440px) {
    gap: 80vw;
  }
}

.body {
  font-size: 3.2vw;
}

.lineMask {
  overflow: hidden;
}

.lineMask p {
  margin: 0px;
  font-weight: 700;
  color: #eee;
}
